Architecture: all
Depends: python-pip
Description: The fast and simple S3 transport for apt
Maintainer: Lucid Software <ops@lucidsoftware.com>
Package: apt-boto-s3
Priority: optional
Section: base
Version: 1.5
